/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.client{
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
}

#header{
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  background-color: rgb(238, 182, 62)
}

.badgesSection{
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
}

.badge{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
  grid-template-areas: 
  "i n"
  "i t";
}

.iconBudge{
  grid-area: i;
  border-radius: 80%;
  margin-left: 3vw;
  color: rgb(20, 211, 61)
}
   

.numberBudge{
  grid-area: n;
  font-size: 30px;
}

.textBudge{
  grid-area: t;
  font-size: 17px;
  font-weight: bold;
}

.fas{
    font-size: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 13px;
}

.chartsSection{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
  
}

.chart{
  justify-self: center
}