/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.client{
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
}

#header{
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  background-color: rgb(255, 215, 40);
}

.badgesSection{
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
}

.badge{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
  grid-template-areas: 
  "i n"
  "i t";
}

.iconBudge{
  grid-area: i;
  border-radius: 80%;
  margin-left: 3vw;
  color: rgb(20, 211, 61)
}
   

.numberBudge{
  grid-area: n;
  font-size: 30px;
}

.textBudge{
  grid-area: t;
  font-size: 17px;
  font-weight: bold;
}

.fas{
    font-size: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 13px;
}

.chartsSection{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
  
}

.chart{
  justify-self: center
}

.navBar a  {
  color: rgb(255, 255, 255);
  text-decoration: none; 
}

.navBar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 8fr;
  
  background-color: black;
  height: 50px;
}

.nav{
  text-align: center;
  padding-top:12px
}

.nav:hover{
  background-color: rgb(34, 30, 32);
}

.actionSection{
  margin-left: 30px;
}
.actionHeading{
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.updateSection{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin-top: 10px;
  width: 500px;
}

.actionButton{
  text-align: center;
  /* color: rgb(255, 215, 40); */
  background-color: rgb(255, 215, 40);
  margin-left:10px;
  padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px
}

.updateSectionSold{
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 10px;
  width: 500px;
}

.actionInputSections{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  width: 250px;
}

.addButton{
  background-color: rgb(255, 215, 40);
    width: 250px;
    text-align: center;
    margin-top: 15px;
    padding-top: 4px;
    padding-bottom: 5px;
    border-radius: 10px
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

